.landing-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: darkblue; /* Background color for landing page */
}

.loginContainerStyle {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0; /* Ensure no margin */
}

.inputContainerStyle {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
}

.inputStyle {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.buttonsStyle {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  padding: 0; /* Ensure no padding */
}

.btnStyle {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin: 0; /* Ensure no margin */
}

.btnStyle:hover {
  background-color: #2980b9;
}
