.sidebarStyle {
  width: 250px;
  background-color: #222;
  color: white;
  padding: 20px;
  height: calc(100vh - 60px); /* Ensure the sidebar accounts for the navbar height */
  position: fixed;
  top: 60px; /* Position below the navbar */
  left: 0;
  z-index: 1000;
  overflow-y: auto; /* Allow vertical scrolling for content */
}

.sidebarButton {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sidebarButton:hover {
  background-color: #0056b3;
}

.filterGroup {
  margin: 20px 0;
}

.filterGroup h3 {
  margin-bottom: 10px;
}

.filterGroup select,
.filterGroup input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}
