.homeStyle {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.gamesGridStyle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}
